@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --dwave-blue: #2a7de1;
    --dwave-bright-blue: #03b8ff;
    --dwave-orange: #f37820;
}

.header {
    background-color: #222222;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.header-title {
    color: var(--dwave-bright-blue);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 12px auto;
    text-align: center;
    max-width: 450px;
}

.menu {
    padding-top: 50px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: var(--dwave-orange);
}

.button {
    font-weight: 700;
    color: #FFFFFF;
    border: 0px;
    width: 180px;
    height: 40px;
    margin: 0px 10px;
    background: var(--dwave-blue);
    border-radius: 100px;
}


/* See https://stackoverflow.com/questions/44943464/plot-lydash-core-components-slider-color-change */
/* .rc-slider-track { */
/*     background-color: var(--dwave-bright-blue); */
/* } */
